body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reviewer__stars {
  margin-top: 1rem;
  display: flex;
}
.reviewer__stars input {
  display: none;
}
.reviewer__stars input:checked ~ label {
  color: yellow;
}
.reviewer__stars input + label {
  font-size: 0;
  /*
  These are in the opposite DOM order re-order them to be visually in normal order
   */
}
.reviewer__stars input + label:before {
  content: "★";
  font-size: 2rem;
  background-color: #C8C8C8;
  padding: 2px 5px;
  margin-right: 10px;
  border-radius: 5px;
  color: #fff;
}
.reviewer__stars input + label[for="star5"] {
  order: 5;
}
.reviewer__stars input + label[for="star4"] {
  order: 4;
}
.reviewer__stars input + label[for="star3"] {
  order: 3;
}
.reviewer__stars input + label[for="star2"] {
  order: 2;
}
.reviewer__stars input + label[for="star1"] {
  order: 1;
}
.reviewer__stars input + label:hover,
.reviewer__stars input + label:hover ~ label {
}

.reviewer__stars input + label:hover:before {
  background-color: #F7CB35;
  color: #fff;
}

.header {
  width: auto;
  height: 660px;
  background-image: url("background.png");
}

.header--title {
  width: 388px;
  height: 80px;
  font-family: Lato;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
}

.What-if-we-told-you {
  width: 365px;
  height: 50px;
  opacity: 0.7;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.5px;
  text-align: left;
  color: #7f7f7f;
}
