@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reviewer__stars {
  margin-top: 1rem;
  display: flex;
}
.reviewer__stars input {
  display: none;
}
.reviewer__stars input:checked ~ label {
  color: yellow;
}
.reviewer__stars input + label {
  font-size: 0;
  /*
  These are in the opposite DOM order re-order them to be visually in normal order
   */
}
.reviewer__stars input + label:before {
  content: "★";
  font-size: 2rem;
  background-color: #c8c8c8;
  padding: 2px 5px;
  margin-right: 10px;
  border-radius: 5px;
  color: #fff;
}
.reviewer__stars input + label[for="star5"] {
  order: 5;
}
.reviewer__stars input + label[for="star4"] {
  order: 4;
}
.reviewer__stars input + label[for="star3"] {
  order: 3;
}
.reviewer__stars input + label[for="star2"] {
  order: 2;
}
.reviewer__stars input + label[for="star1"] {
  order: 1;
}
.reviewer__stars input + label:hover,
.reviewer__stars input + label:hover ~ label {
}

.reviewer__stars input + label:hover:before {
  background-color: #f7cb35;
  color: #fff;
}

.header {
  padding: 50px 150px 0px 150px;
  width: auto;
  height: 600px;
  background-image: url("background.png");
}

.header--nav,
.header--content {
  display: flex;
  align-items: center;
}

.header--content {
  margin-top: 50px;
}

.header--title {
  width: 495px;
  height: 80px;
  font-family: "Lato";
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: #000000;
}

.header--text {
  width: 365px;
  height: 50px;
  opacity: 0.7;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.5px;
  text-align: left;
  color: #7f7f7f;
}

.illustration {
  width: 639px;
  height: 382px;
  object-fit: contain;
}

.button {
  width: 195px;
  height: 46px;
  border-radius: 5px;
  background-color: #73b143;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  border: 0;
}

.button__demo {
  width: 140px;
  margin-left: 10px;
}

.button span {
  font-family: "Lato";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
}

.logo_black {
  margin-right: auto;
  width: 232px;
  height: 63px;
}

.link {
  margin: 0px 20px 0px 20px;
  width: 54px;
  height: 17px;
  opacity: 0.6;
  font-family: "Lato";
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  color: #000000;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 906px;
  background-color: #ffffff;
  border: solid 1px #ededed;
}

.info h2 {
  width: 730px;
  height: 32px;
  font-family: "Lato";
  font-size: 26px;
  color: #000000;
}

.info p {
  width: 713px;
  height: 76px;
  opacity: 0.7;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7f7f7f;
}
.info--card p {
  width: 300px;
  height: 106px;
  opacity: 0.7;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7f7f7f;
}

.card--icon {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.info--card {
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 370px;
  height: 433px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
}

.info--card h3 {
  width: 134px;
  height: 24px;
  font-family: "Lato";
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.info--cards {
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 340px;
  background-color: #f8f8f8;
  padding: 0px 200px 0px 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer--bottom p {
  width: 329px;
  height: 17px;
  opacity: 0.6;
  font-family: "Lato";
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  color: #000000;
}

.footer--top {
  border-bottom: solid 1px #ededed;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.footer--bottom {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.footer--icon {
  margin-right: 30px;
  width: 17.9px;
  height: 17.9px;
  object-fit: contain;
}

.footer h5 {
  width: 125px;
  height: 13px;
}

.footer--bottom img {
  width: 138px;
  height: 16px;
  object-fit: contain;
}

.left {
  margin-right: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.footer--bottom p {
  display: flex;
  justify-content: center;
}

.footer--bottom p span {
  margin: 0px 5px 0px 5px;
}
